body {
    background-color: #111719;
}

.title {
    margin: 100px 0px 20px;
}

.keycodes {
    display:flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color: #d2cbcb;
    
    
}

.code {
    padding: 30px;
    text-align: center;
    background-color: #323d4d;
    margin: 30px 30px;
    
}

.charcode {
    padding: 30px;
    text-align: center;
    background-color: #323d4d;
    margin: 30px 30px;
}

.key {
    padding: 30px;
    text-align: center;
    background-color: #323d4d;
    margin: 30px 30px;
}

h1 {
    color: #80503a;
}

h2 {
    color: #ae9a93;
}